Package: com.brutaltrip
Name: brutaltrip best hack
Depends: mobilesubstrate
Version: 0.27.3
Architecture: iphoneos-arm64
Description: Menu Desing - rezongante
Maintainer: rezongante
Author: rezongante
Section: Tweaks
Homepage: https://t.me/brutaltrip